.sliding:not(.ChoosenImg) {
  display: flex;
  overflow-x: auto;
  opacity: 0.5;
}

.slide {
  width: 137px;
  flex-shrink: 0;
  height: var(--width);
  margin-bottom: 7px;
  margin-right: calc(var(--min-width) - 6px);
  border-radius: 6px;
}

picture::-webkit-scrollbar {
  display: none;
}

.ChoosenImg > img {
  width: var(--width);
  border-radius: 6px;
}

@media (min-width: $querry) {
  .slide {
    width: 12.05%;
  }
}
